<h1><%= @author.name %> (b. <%= @author.birth_year %>)</h1>

Books:
<% if @author.books == [] %>
<i> (none)</i><br>
<% else %>
<ul>
    <% @author.books.each do |book| %>
    <li><%= link_to "#{book.title}", book_path(book) %></li>
    <% end %>
</ul>
<% end %>

<%= link_to "Edit #{@author.name}", edit_author_path %>

<%= form_tag author_path(@author), method: "delete" do %>
<% submit_tag "Delete #{@author.name}"%>
<% end %>